[Match]
Name=bond0

[Network]
Bridge=bridge1
LinkLocalAddressing=no
IPv6AcceptRA=no
DHCP=no

[Link]
MTUBytes=1570

[BridgeVLAN]
VLAN=3
VLAN=5
VLAN=7
VLAN=11
VLAN=4002
