[Match]
Name=bridge1

[Network]
LinkLocalAddressing=no
IPv6AcceptRA=no
DHCP=no

[Bridge]
STP=false
VLANFiltering=true
DefaultPVID=0
VLAN=3
VLAN=5
VLAN=7
VLAN=11
VLAN=4002

[Link]
MTUBytes=1570
