[Match]
Name=en*
Driver=igc

[Network]
Bridge=bridge1
LLDP=routers-only
EmitLLDP=nearest-bridge

[Link]
MTUBytes=1570

[BridgeVLAN]
VLAN=3
VLAN=5
VLAN=7
VLAN=11
VLAN=4002
